*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
h1{
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    font-style:italic;
    background-color: rgb(200, 196, 203);
}
.posts{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(224, 218, 229);
}
.post{
    width: 48%;
    margin: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2rem;
    transition: all;
}
.post:hover{
    background-color: rgb(52, 231, 213);
    box-shadow: 0 8px 16px 0 rgba(210, 105, 105, 0.937);
}

@media screen and (max-width:992px){
.post{
    width: 48%;
}
}
@media screen and (max-width:992px){
.post{
    width: 100%;
}
}